<h1>Question#index</h1>
<p>Find me in app/views/question/index.html.erb</p>

<h1> Hi <%= session[:cas_extra_attributes]["cn"][0] %> ! </h1>
<h3> Your email is : <%= session[:cas_extra_attributes]["mail"][0] %> </h3>
<h3> Your id is : <%= session[:cas_user] %> </h3>

What !!!
<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="page0">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="page0">
        <%= render :partial => "check" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div>
</div>

<button class='btn btn-primary'  onclick="window.location.href='/logout'">Logout</button>
