<div id="practice_challenge_container">
  <ul role="tablist" class="nav nav-tabs nav-justified">
	  <li class="active" id="practice_question_tab_0"><a href="#">Question #1</a></li>
	  <li id="practice_question_tab_1" class=""><a href="#">Question #2</a></li>
	</ul>
<div class="practice_questions_content" id="practice_questions_content" style="display: block;">
	

	<div class="show on_display" id="practice_question_data_0">
		<h3>Capitalising letters</h3>
		<div style="white-space: pre-wrap;">You have to capitalise the letters given. If the letter is already in uppercase, do not change it.

Input
An integer T, denoting the number of testcases, followed by T lines, each containing a single letter c. 

Output
For each letter c given at input, output a single line the uppercase form of c.

Input Constraints
Only english alphabet is allowed.

Sample Input 
3
a
b
d

Sample Output
A
B
D

		</div>
		<div id="practice_solution_space_0" >	
			<div class="container-fluid well">
				<label class="col-md-2">Test Case 1</label>
				<span id=user_test_case_4>
					<span class="col-md-2"><a href="/system/question_test_cases/input_files/000/000/004/original/one.txt?1424167650">Test Case Input</a></span>
				</span>
				<div id = "practice_submit_area_0">
					<span class="col-md-4 form-group"><input id="practice_output_file_0" type="file" class="file-input"></span>
					<input onclick="practice_submitResponse(0)" type="submit" value="Submit" class="btn btn-default form-group"	/>
				</div>
			</div>
		</div>
  </div>

	<div class="hide" id="practice_question_data_1" style="display: none;">
		<h3>Simple Addition</h3>
		<div style="white-space: pre-wrap;">You are asked to add some numbers.

Input
An integer T, denoting the number of testcases, followed by T lines, each containing t N. Output For each integer N given at input, output a single line the value of N!

Sample Input 
3
1
2
5

Sample Output
8

Test Inputs
2
12
5
		</div>
		<div id="practice_solution_space_1" >	
			<div class="container-fluid well">
				<label class="col-md-2">Test Case 1</label>
				<span id=user_test_case_4>
					<span class="col-md-2"><a href="/system/question_test_cases/input_files/000/000/005/original/one.txt?1424167770">Test Case Input</a></span>
				</span>
				<div id = "practice_submit_area_1">
					<span class="col-md-4 form-group"><input id="practice_output_file_1" type="file" class="file-input"></span>
					<input onclick="practice_submitResponse(1)" type="submit" value="Submit" class="btn btn-default form-group"	/>
				</div>
			</div>
		</div>
	</div>
</div>