<div id="practice_challenge_container">
      <ul role="tablist" class="nav nav-tabs nav-justified">
  		<li class="active" id="practice_question_tab_0"><a href="#">Question #1</a></li>
  		<li id="practice_question_tab_1" class=""><a href="#">Question #2</a></li>
  		<li id="practice_question_tab_2" class=""><a href="#">Question #3</a></li>
</ul>
<div class="practice_questions_content" id="practice_questions_content" style="display: block;">
			<div class="show on_display" id="practice_question_data_0" style="display: none;">
				<h3>Capitalising letters</h3>
			<div style="white-space: pre-wrap;">You have to capitalise the letters given. If the letter is already in uppercase, do not change it.

Input
An integer T, denoting the number of testcases, followed by T lines, each containing a single letter c. 

Output
For each letter c given at input, output a single line the uppercase form of c.

Input Constraints
Only english alphabet is allowed.

Sample Input 
3
a
b
d

Sample Output
A
B
D

Test Inputs
4
W
e
f
i
</div>
	<div id="practice_solution_space_1">
				<h4><b>Paste your output here: </b> <small>(Ensure exact output format)</small></h4>
			<div class="input-group">
				<textarea rows="5" class="form-control" id="practice_solution_1"></textarea>
				<span onclick="practice_submitResponse(1)" class="input-group-addon btn btn-primary">Submit</span>
			</div>
		</div>
			</div>
			<div class="hide" id="practice_question_data_1" style="display: none;">
				<h3>Simple Addition</h3>
			<div style="white-space: pre-wrap;">You are asked to add some numbers.

Input
An integer T, denoting the number of testcases, followed by T lines, each containing t N. Output For each integer N given at input, output a single line the value of N!

Sample Input 
3
1
2
5

Sample Output
8

Test Inputs
2
1 2
5
</div>
	<div id="practice_solution_space_2">
				<h4><b>Paste your output here: </b> <small>(Ensure exact output format)</small></h4>
			<div class="input-group">
				<textarea rows="5" class="form-control" id="practice_solution_2"></textarea>
				<span onclick="practice_submitResponse(2)" class="input-group-addon btn btn-primary">Submit</span>
			</div>
		</div>
			</div>
			<div class="hide" id="practice_question_data_2" style="">
				<h3>Next Character</h3>
			<div style="white-space: pre-wrap;">You are asked to find which character comes after a given character. 
The characters will loop around as small letters -&gt; capital letters -&gt; small letters -&gt; capital letters ...

Input
An integer T, denoting the number of testcases, followed by T lines, each containing a single letter c. 

Output
For each letter c given at input, output a single line the character that follows c.

Input Constraints
Only english alphabet is allowed.

Sample Input 
3
a
b
z

Sample Output
b
c
A

Test Inputs
4
W
e
f
i

</div>
<div id="practice_solution_space_3">
				<h4><b>Paste your output here: </b> <small>(Ensure exact output format)</small></h4>
			<div class="input-group">
				<textarea rows="5" class="form-control" id="practice_solution_3"></textarea>
				<span onclick="practice_submitResponse(3)" class="input-group-addon btn btn-primary">Submit</span>
			</div>
			</div>
</div>
</div>
    </div>