<div class="inner_title">
  <strong>Overall Leaderboard</strong>
</div>
  <table id="overall_rounded-corner" class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Score</th>
        <th>Submissions</th>
      </tr>
    </thead>
    <tbody id="overall_table_data">
      <%= render partial: "dashboard_data", locals: { data: @data } %>
    </tbody>
  </table>
  <%= will_paginate @data, renderer: BootstrapPagination::Rails %>
