<div class="container">
  <% if current_user.is_a?(Admin) %>
    <%= render :partial => "challenge_admin" %>
  <% else %>
    <%= render :partial => "challenge_participant" %>
  <% end %>
  <%= render :partial => "participants" %>
</div>
