/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require custom_bootstrap/custom_bootstrap
 *= require bootstrap-datetimepicker
 */
body {
    padding-top: 90px;
}

body#homePageDesign{
	padding-top: 10px;
	background: url(/assets/hackathon.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*layout */

.drop-extra{
	font-size: 20px;
	color: #5F5E66;
}

#profile-name{
	float: left;
	margin: 15px 0 0 610px
}

/* Footer CSS */

.footer{
    text-align: center;
    vertical-align: middle;
    opacity: 0.8;
}

.navbar{
	opacity: 0.85;
}

.footer-links > li{
	display: inline;
}

.image-container{
	position: relative; 
	overflow: hidden;
	margin-top: 3%;
	display: block;
	width: 100% !important;
}

.btn-lg{
	height: 60px;
	width: 120px;
}

/* Heading in login home page */

.titleHeading{
	-webkit-transition: color 500ms ease-out 0.5s;
	-moz-transition: color 500ms ease-out 0.5s;
	-o-transition: color 500ms ease-out 0.5s;
	transition: color 500ms ease-out 0.5s;
	text-align: center;
	color: white;
}

.titleHeading:hover{
	color: #b95d40
}

.homeHeading{
	margin-bottom: 0px; 
	font-size: 40pt;
}
.homeSubheading{
	margin-top: 0px;
}

/* Screenshot Box Shadow Image Effect */

.codeImage{
	-webkit-transition: box-shadow 500ms ease-out 0.5s;
    -moz-transition: box-shadow 500ms ease-out 0.5s;
    -o-transition: box-shadow 500ms ease-out 0.5s;
    transition: box-shadow 500ms ease-out 0.5s;
}

.codeImage:hover{
	box-shadow: 0 0 80px #b95d40;
}

/* Screenshot Image CSS */

.centreImage{
	position:absolute; 
	z-index:4; 
	left: 25%;
	height:100%;
	width: 47%;
}

.leftImage{
	position:relative; 
	float:left; 
	margin-top: 5%;  
	z-index:1;
	height: 40%;
	width: 55%;
}

.rightImage{
	z-index:1; 
	right: 10%; 
	margin-top: 5%;
	height:1%; 
	width:45%;
}

.loginButton{
	margin: 3% auto; 
	display:table
}

.customSelect{
     color: #555555;
    font-size: 19px;
    margin-bottom: 14px;
    margin-right: 30px;
    padding: 0 10px;
    width: 135px;
}

.glyphicon-ok {
	color: green;
}

.glyphicon-remove {
	color: red;
}