<!-- Title Heading -->
<div class="titleHeading">
	<h1 class="homeHeading">Lister Code-A-Thon</h1>
	<h3 class="homeSubheading">For the forgotten coder in you!</h3>
</div>

<!-- Text editors' screenshots window -->
<div class="image-container">
	<img src="assets/ubuntu.png" class="codeImage centreImage">
	<img src="assets/sublime.png" class="codeImage leftImage">
	<img src="assets/terminal.png" class="codeImage rightImage">
</div>

<!-- Login Button -->
<div class="loginButton">
	<button class='btn btn-primary btn-lg login-button' onclick="window.location.href='/login'">Login</button>
</div>
